$bg-color: #e3e3e3;
$white-color: #ffffff;
$active-color: #409EFF;
$black-color: #000000;
$grey-color: #7f7f7f;
$danger-color: #dc3545;
$success-color: #28a745;
$primary-color: #0072ff;

$f-size: 16px;
$padding: 8px;
$margin: 8px;